In [10]:
import pandas as pd
import numpy as np

In [11]:
sales = pd.read_csv('vgsales.csv')

In [12]:
sales.dropna(inplace = True)
# deleting NAN rows

In [13]:
sales = sales[:1000]

In [32]:
sales.index = np.arange(1, 1001)

In [37]:
sales.drop('Rank', axis = 1, inplace = True)

In [38]:
sales.Year = pd.to_datetime(sales.Year.astype('int64'), format = '%Y')
sales.Year = sales.Year.dt.year
# converting column year to datetime object

### Network Analysis

In [39]:
sales.to_csv('nodes.csv')

In [85]:
def clean_up(name):
    names = name.split()
    new_names = []
    del_list = ['The', 'the', 'Wii', 'of', 'Of', 'world', 'World', 'No', 'no',
               'Video', 'Game', 'game', 'super', 'Super', 'and', 'And', 'III', 'VII',
               'VIII', 'XII', 'XIII']
    for item in names:
        if len(item) > 2 and item not in del_list:
            new_names.append(item)
    return ' '.join(new_names)

In [86]:
sales['Label'] = sales['Name'].apply(clean_up)

In [87]:
sales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Label
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Sports
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Mario Bros.
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,Mario Kart
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,Sports Resort
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,Pokemon Red/Pokemon Blue

In [88]:
def same_cat(i, r, arr):
    for index, row in sales[i:].iterrows():
        names1 = r.Label.split()
        names2 = row.Label.split()
        if not set(names1).isdisjoint(names2):
            arr.append((i-1, index-1))

In [89]:
collect = []
for i, r in sales.iterrows():
    same_cat(i, r, collect)

In [90]:
dt = pd.DataFrame(collect, columns = ['Source', 'Target'])

In [91]:
dt = dt.set_index('Source')

In [92]:
dt

        Target
Source
0            3
0          139
0          302
0          312
0          601
...        ...
963        979
964        989
972        993
991        996
992        995

[7790 rows x 1 columns]

In [93]:
dt.to_csv('edges.csv')